.env
.DS_Store
.vscode
# node_modules
# storage
# vendor
# composer.json
# composer.lock
# genaral_settings.json
# modules_statuses.json
# package-lock.json
# package.json
# phpunit.xml
# quizz.sql
# server.php
# serviceworker.js
# update.html
# webpack.mix.js
# version.php