@media(max-width: 1920px) {
    .cs-container {
        padding-left: 72px;
        padding-right: 72px;
    }
}

@media(max-width: 1600px) {
    .cs-container {
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media(max-width: 1400px) {
    .cs-container {
        padding-left: 18px;
        padding-right: 18px;
    }

}

@media(max-width: 1199px) {
    .sidebar {
        flex-basis: 25%;
        max-width: 25%;
    }

    .home-main-content {
        flex-basis: 75%;
        max-width: 75%;
    }

    header .search-box {
        max-width: 160px;
    }

    .side-panel-item .about-bottom {
        justify-content: space-between;
    }

    .side-panel-item .about-bottom .english img {
        width: 36px;
        height: auto;
        object-fit: contain;
    }

    .side-panel-scroll .social-list .social-item {
        margin: 8px;
    }

    .banner .banner-content {
        padding: 30px;
    }

    .banner .banner-content h2 {
        font-size: 28px;
        line-height: 34px;
    }

    .banner .banner-desc p {
        font-size: 12px;
        line-height: 16px;
    }

    .study-program .study-program__desc {
        width: 100%;
    }

    .study-program h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .blog .item-post__image {
        flex-basis: 40%;
        max-width: 40%;
    }

    .blog .item-post__content {
        flex-basis: 60%;
        max-width: 60%;
    }
}

@media(max-width: 991px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        flex-basis: 300px;
        max-width: 300px;
        z-index: 99999;
        transform: translateX(-100%);
        visibility: hidden;
        transition: all 0.3s;
    }

    .sidebar .inner {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
    }

    .sidebar.is-open {
        visibility: visible;
        transform: translateX(0);
    }

    .home-main-content {
        flex-basis: 100%;
        max-width: 100%;
    }

    header nav.navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header .ic-hamburger {
        position: relative;
        width: 32px;
        height: 32px;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
        cursor: pointer;
    }

    header .ic-hamburger svg {
        width: 22px;
        height: 22px;
        fill: #f40c44;
    }

    .nav-logo {
        max-width: 120px;
        width: 100%;
    }

    .nav-logo img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    header .action .btn {
        font-size: 12px;
    }

    .study-layout-item {
        margin-bottom: 80px;
    }
}


@media(max-width: 768px) {
    header .categories a {
        font-size: 0;
        gap: 0;
    }

    header .categories {
        gap: 8px;
    }

    header .categories a.current::after,
    header .categories a:hover::after {
        width: 16px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 4px;
    }

    .section-title {
        font-size: 28px;
        line-height: 36px;
    }

    .blog,
    .reason,
    .study-program,
    .banner {
        margin-bottom: 40px;
    }

    .study-item {
        margin-bottom: 20px;
    }

    .banner .banner-image {
        text-align: center;
    }

    .banner .banner-image img {
        max-width: 375px;
    }

    .reason .box-image img {
        max-width: 300px;
        margin: 30px auto;
    }

    .result-grid {
        grid-template-columns: repeat(2, auto);
    }

    .result-grid.flashcard .result-item:first-child,
    .result-grid .result-item:first-child {
        grid-column: 1 / span 4;
    }

    .result-grid.flashcard .result-item:first-child {
        grid-row: 1 / span 2;
    }

    .result-grid .result-item:nth-child(2) {
        grid-column: 1 / span 2;
        grid-row: 3;
    }

    .result-grid .result-item:nth-child(3) {
        grid-row: 3;
        grid-column: 3 / span 2;
    }

    .result-grid .result-item:nth-child(4) {
        grid-row: 4;
        grid-column: 1 / span 2;
    }

    .result-grid .result-item:nth-child(5) {
        grid-row: 4;
        grid-column: 3 / span 2;
    }

    .result-grid.flashcard .result-item:nth-child(6) {
        grid-row: 5;
        grid-column: 1 / span 4;
    }

    .lecture-information-button button {
        min-width: 50%;
    }

    .content-act-list {
        grid-template-columns: 1fr;
    }

    .mui-container .col-lg-9 {
        padding-left: 0;
        padding-top: 10px;
    }

    .button-showmore {
        justify-content: center;
        transform: translateX(0);
    }

    .button-showmore button {
        transform: translateX(0);
    }

    .ui-table {
        overflow-x: scroll;
    }

    .ui-table::-webkit-scrollbar {
        display: none;
    }

    .ui-table .ui-table-row,
    .ui-table.three-col-deux .ui-table-row {
        grid-template-columns: repeat(3, 120px);
    }

    .ui-header {
        border-bottom: 1px solid #ddd;
    }

    .ui-table-heading {
        border: none;
    }

    .ui-table .profile-course-item {
        display: flex;
        flex-direction: column;
    }

    .ui-table.three-col-deux .ui-table-row .ui-col:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flashcard-main .lecture-information-button {
        flex-direction: column;
        padding: 24px 0;
    }

    .flashcard-main .lecture-information-button button {
        width: 100%;
        max-width: 375px;
    }

}

@media(max-width: 525px) {
    .cs-container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .nav-logo {
        max-width: 90px;
    }

    .ic-action {
        position: relative;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
        cursor: pointer;
    }

    .ic-action img {
        width: 22px;
        height: 22px;
        object-fit: contain;
    }

    header .action .btn {
        display: none;
    }

    .banner .banner-content {
        padding: 16px;
    }

    .banner .banner-content h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .banner .banner-desc p {
        margin-bottom: 0;
    }

    .blog .item-post .inner {
        flex-direction: column;
    }

    .blog .item-post__content,
    .blog .item-post__image {
        flex-basis: 100%;
        max-width: 100%;
    }

    .blog .item-post__content h4 a {
        font-size: 16px;
        line-height: 20px;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    .flashcard-main .lecture-information-button button {
        max-width: unset;
    }
}